<mat-sidenav-container
  (window:resize)="changeValues($event)"
  class="sidenav-container"
  hasBackdrop="true"
>
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
  >
    <div
      style="
        display: flex;
        align-items: center;
        flex-direction: columns;
        justify-content: center;
        margin-bottom: 20px;
        margin-top: 20px;
      "
    >
      <button mat-button (click)="changeTitleShow(true); drawer.toggle()">
        <mat-icon style="margin-right: 9px">arrow_back</mat-icon>
      </button>
    </div>

    <mat-nav-list style="display: grid; gap: 1rem">
      <mat-divider></mat-divider>
      <button
        mat-button
        style="display: flex; justify-content: space-between"
        routerLink=""
        (click)="changeTitleShow(true); drawer.toggle()"
      >
        <mat-icon>home</mat-icon>
        Home
      </button>
      <mat-divider></mat-divider>
      <button
        mat-button
        style="display: flex; justify-content: space-between"
        routerLink="About"
        (click)="changeTitleShow(true); drawer.toggle()"
      >
        <mat-icon>sentiment_satisfied</mat-icon>
        About Me
      </button>
      <mat-divider></mat-divider>
      <button
        mat-button
        style="display: flex; justify-content: space-between"
        routerLink="Skills"
        (click)="changeTitleShow(true); drawer.toggle()"
      >
        <mat-icon>architecture</mat-icon>
        Technology Skills
      </button>
      <mat-divider></mat-divider>
      <button
        mat-button
        style="display: flex; justify-content: space-between"
        routerLink="Skills"
        (click)="changeTitleShow(true); drawer.toggle()"
      >
        <mat-icon>code</mat-icon>
        Site's Tech Stack
      </button>

      <a
        mat-list-item
        routerLink="Polls"
        (click)="changeTitleShow(true); drawer.toggle()"
        >Skills</a
      >
      <a
        mat-list-item
        routerLink="Todo"
        (click)="changeTitleShow(true); drawer.toggle()"
      >
        To Do
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="Navbar">
      <div [className]="'item'">
        <div [className]="'leftSide'">
          <button
            type="button"
            aria-label="Toggle sidenav"
            mat-icon-button
            (click)="changeTitleShow(false); drawer.toggle()"
            style="height: auto"
          >
            <mat-icon
              aria-label="Side nav toggle icon"
              [className]="'icon menu-icon'"
              >menu</mat-icon
            >
          </button>

          <button mat-button routerLink="">
            <h1 class="Title portfolioWebsite">Portfolio Website</h1>
          </button>
        </div>
      </div>
      <div class="mydiv item" style="margin-right: 10px">
        <h1>Joseph <br *ngIf="isPhone" />Whiteaker</h1>
        <div>
          <a
            mat-icon-button
            href="https://www.facebook.com/jw74994/"
            target="_blank"
          >
            <mat-icon [className]="'icon'">facebook </mat-icon>
          </a>
          <button (click)="openDialog()" mat-icon-button>
            <mat-icon [className]="'icon'"> phone </mat-icon>
          </button>
        </div>
      </div>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>
