<div
  (window:resize)="onResize($event)"
  (click)="onResize($event)"
  class="grid-container"
>
  <mat-grid-list cols="2" rowHeight="500px">
    <mat-grid-tile [colspan]="2" [rowspan]="1">
      <mat-card class="dashboard-card section1-card">
        <mat-card-header>
          <mat-card-title ngClass="'section1-title'"> About me </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>Cfdd</div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="cols" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title> Education and Experience </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>Card Content Here</div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="cols" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title> </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>Card Content Here</div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="2" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title> </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>Card Content Here</div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
