// Tags

mat-grid-tile {
  border-radius: 25px !important;
  overflow: hidden;
  transition: 500ms ease;
  &:hover {
    transform: scale(1.011) !important;
  }
}

// Classes
.grid-container {
  background-color: #d3d3d3;
  height: 100% !important;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 25px;
  bottom: 15px;
}

.more-button {
  position: relative;
}

.dashboard-card-content {
  text-align: center;
}

.section1-card {
  background-image: url("../../../assets/img/sectionone.png");
  background-size: cover;
  background-position: center;
}
