<ng-container>
  <div class="grid-layout">

    <mat-card [className]="'card2'">
      <mat-card-title> React </mat-card-title>
      <mat-card-content>  {{onHoverMessage}}  </mat-card-content>
    </mat-card>

    <mat-card [className]="'card1'">
      <div [className]="'pill'"> 
      <mat-card-title> Django </mat-card-title>
      <mat-card-content> {{onHoverMessage}} </mat-card-content>
      </div>
    </mat-card>

  
    <mat-card [className]="'card3'">
      <div [className]="'pill'">  
      <mat-card-title> Angular </mat-card-title>
      <mat-card-content>  {{onHoverMessage}}  </mat-card-content>
      </div>  
    </mat-card>

    <mat-card [className]="'card4'">
      <div [className]="'pill'"> 
      <mat-card-title> Flask </mat-card-title>
      <mat-card-content>  {{onHoverMessage}}  </mat-card-content>
      </div>
    </mat-card>
    <mat-card [className]="'card5'">
      <mat-card-title> Github </mat-card-title>
      <mat-card-content>  {{onHoverMessage}}  </mat-card-content>
    </mat-card>
    <mat-card  [className]="'card6'">
      <div [className]="'pill'"> 
      <mat-card-title> Next JS</mat-card-title>
      <mat-card-content>  {{onHoverMessage}}  </mat-card-content>
      </div>
    </mat-card>
    <mat-card  [className]="'card7'">
      <div [className]="'pill'">  
      <mat-card-title> Node JS </mat-card-title>
      <mat-card-content> {{onHoverMessage}}  </mat-card-content>
      </div>  
    </mat-card>
    <mat-card  [className]="'card8'">
      <div [className]="'pill'"> 
      <mat-card-title> Express JS </mat-card-title>
      <mat-card-content> {{onHoverMessage}} </mat-card-content>
      </div>
    </mat-card>
    <mat-card  [className]="'card9'">
      <div [className]="'pill'">
      <mat-card-title> View JS </mat-card-title>
      <mat-card-content> {{onHoverMessage}} </mat-card-content>
      </div>
    </mat-card>
  </div>
</ng-container>
